*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: arial;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.container{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card{
	min-height: 80vh;
	width: 25rem;
	border-radius: 30px;
	padding: 0 2rem;
	box-shadow: 0 20px 20px rgba(0,0,0,0.4), 0 0 50px rgba(0,0,0,0.2);
}

.sneaker{
	min-height: 35vh;
}

.sneaker img{
	width: 15rem;
	margin-top: 50px;
}

.circle{
	width: 12rem;
	height: 12rem;
	background: linear-gradient(to right,gray,white,gray
        
		);
border-radius: 50%;
margin: auto;
margin-top: 30px;
}

.info h1{
	font-size: 2.2rem;
	margin-top: 40px;
	text-align: center;

}

.info h3{
	padding: 2rem 0;
	color: gray;
	font-weight: lighter;
	text-align: center;
}

.sizes{
	display: flex;
	justify-content: space-between;
}

.sizes button{
	padding: 0.5rem 1.8rem;
	border: none;
	background: none;
	box-shadow: 0 5px 10px rgba(0,0,0,0.3);
	border-radius: 30px;
	cursor: pointer;
	font-weight: bold;
	color: gray;
}

button.active{
	background: gray;
	color: white;
}

.purchase{
	margin-top: 5rem;
}

.purchase button{
	width: 100%;
	padding: 0.8rem 0;
	background: gray;
	border-radius: 30px;
	color: white;
	cursor: pointer;
	border: none;
	font-weight: bold;
}



